trac:
  database: sqlite://db/trac.db
  # database: mysql2://user:password@host:port/database

github:
  repo: 'mavam/test'
  logins:
    - ['mavam', 'pass', ['mavam@github.com', 'mail@mavam.com']]
    - ['collaborator1', 'pass', ['email@mydomain.com‘, 'alias']]
    - ['collaborator2', 'pass', ['email@myname.com', 'aliasname']]
 
labels:
  priority:
    Low:                '@low'
    High:               '@high'
  severity:
    blocker:            '#high'
    critical:           '#critical'
    major:              '#major'
    minor:              '#minor'
    trivial:            '#trivial'
  type:
    Feature Request:    feature request
    Task:               task
    Fastpath:           fastpath
    Problem:            problem
    '[Pp]atch':         patch
    Test Case Missing:  test missing
  component:
    configuration:      Configuration
    documentation:      Documentation
  version:
    '1\.3':             v1.3
    '1\.4':             v1.4
    git/master:         git/master
  resolution:
    Rejected:           rejected
    Invalid:            invalid
    Duplicate:          duplicate
    Works for Me:       works for me
  platform:
    Linux:              Linux
    Windows:            Windows

users:
  matthias: mavam
  vallenti: mavam
