trac:
  sqlite:
    file: db/trac.db

github:
  repo: 'mavam/test'
  logins:
    - ['mavam', 'pass']
    - ['collaborator1', 'pass']
    - ['collaborator2', 'pass']
 
labels:
  priority:
    - ['Low', '@low']
    - ['High', '@high']
  type:
    - ['Feature Request', 'feature request']
    - ['Task', 'task']
    - ['Fastpath', 'fastpath']
    - ['Problem', 'problem']
    - ['[Pp]atch', 'patch']
    - ['Test Case Missing', 'test missing']
  version:
    - ['1\.3', 'v1.3']
    - ['1\.4', 'v1.4']
    - ['git/master', 'git/master']
  resolution:
    - ['Rejected', 'rejected']
    - ['Invalid', 'invalid']
    - ['Duplicate', 'duplicate']
    - ['Works for Me', 'works for me']

